body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{ /*h1 ar font size baraise*/
    font-size: 50px;
}
h3{ /*h3 ar font size baraise*/
    font-size: 20px;
}
.orange-color{  /*color dise*/
    color: orange;
}


.link-button{  /* clickable link sundor korer jonno ja ja kora lage korse*/
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}

.half-width{ 
    width: 50%;
    padding-left: 3%;
    padding-top: 7%;
    
}
.half-width img{ /* specially img ar size komaise*/
    width: 85%;
    padding-top: 5%;
    border-radius: 30px;
}

.flexible-container{  /* container k vag korer jonno kora hoise*/
    display: flex;
    padding-left: 5%;
    padding-right: 10%;
    margin-bottom: 120px;


}

#left-background{  /*section 2 ar background image dise */
    background-image: url(images/shapes/2.png);
    background-repeat: no-repeat ;
    
}

#right-background{  /*section 2 ar background image dise */
    background-image: url(images/shapes/2.png);
    background-repeat: no-repeat ;
    background-position: right;
}

.title-item{  /*section 3 ar box shadow banaite ja ja lage kora hoise aikhane banaise */
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 50px gray;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 10px;
    border-radius: 5%; 
}
img{
   
    border-radius: 10%;
    width: 100%;
    height: auto;
}


